<!DOCTYPE html>
<html lang="en">
<head xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <title>Home Page</title>
    <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
    <link th:href="@{/css/boostrap.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{path/to/font-awesome/css/font-awesome.min.css}">
    <link th:href="@{/css/management/addreward.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/fragments.css}" rel="stylesheet" type="text/css">
</head>
<body xmlns:th="http://www.w3.org/1999/xhtml">
<a th:href="@{/data-generate/role-generate}"><button>Role Data Generate</button></a>
<a th:href="@{/data-generate/user-generate}"><button>User Data Generate</button></a>
<a th:href="@{/data-generate/wheel-data-generate}"><button>Wheel Data Generate</button></a>
</body>
</html>